/* CSS for the Whole Page */

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

.stakes-vip-page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero Banner */

.hero-banner {
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: flex-start; /* Horizontal alignment to the left */
  background-image: url("path-to-your-background-image.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  padding-left: 50px; /* Padding to prevent content sticking to the edge */
  font-family: "Kanit", sans-serif;
  background-color: #b9b9ba;
}

.hero-banner .hero-content {
  max-width: 600px; /* Adjust as needed */
  margin-left: 5vw;
}

.hero-banner .hero-content .hero-title {
  font-size: 3.5em;
  color: white;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #2c2e35;
}

.hero-banner .hero-content .hero-subtitle {
  font-size: 1rem;
  color: white;
  margin-bottom: 0;
  max-width: 400px;
  color: #2c2e35;
  font-weight: 300;
}

.hero-banner .hero-content .hero-cta {
  display: inline-block;
  padding: 1.5vh 50px;
  background-color: #f5615e;
  color: white !important;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
  text-decoration: none !important;
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.hero-banner .hero-content .hero-cta:hover {
  color: #f5615e;
  animation: pulse 1s infinite;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .hero-banner {
    padding-left: 20px; /* Padding to prevent content sticking to the edge */
  }
  .hero-banner .hero-content .hero-title {
    font-size: 2.5em;
  }
  .hero-banner .hero-content .hero-subtitle {
    max-width: 350px;
    padding-right: 40px;
  }
  .hero-banner .hero-content .hero-cta {
    padding: 1.5vh 30px;
  }
}

/* what-is-stakes */

.what-is-stakes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 65%;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  text-align: center;
  padding: 3rem 0;
}

.what-is-stakes .page-description {
  line-height: 1.5;
  max-width: 900px;
  font-weight: 300;
  color: #2c2e35;
  padding-top: 20px;
  letter-spacing: 1px;
}

.what-is-stakes .page-title {
  font-size: 3rem;
  font-weight: bold;
  color: #2c2e35;
  letter-spacing: 2px;
}

/* Responsive design for what-is-stakes */
@media (max-width: 1200px) {
  .what-is-stakes {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .what-is-stakes .page-description {
    font-size: 1.25rem;
  }
}

/* stakes-vip-tiers */

.stakes-vip-tiers-background {
  background-color: #e6e7e9;
}

.stakes-vip-tiers {
  width: 80%;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stakes-vip-tiers .page-title {
  font-size: 3rem;
  font-weight: bold;
  color: #2c2e35;
  letter-spacing: 2px;
  text-align: center;
}

.stakes-vip-tiers .vip-tiers-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  max-width: 1200px;
}

.stakes-vip-tiers .vip-tiers-container .vip-tiers-list {
  flex-basis: 48%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.stakes-vip-tiers .vip-tiers-container .vip-tiers-list .vip-tiers-item {
  display: flex;
  align-items: center;
}

.stakes-vip-tiers
  .vip-tiers-container
  .vip-tiers-list
  .vip-tiers-item
  .image-container {
  margin-right: 20px;
}

.stakes-vip-tiers .vip-tiers-container .vip-tiers-list .vip-tiers-item p {
  font-weight: 300;
}

/* Responsive design for stakes-vip-tiers */

@media (min-width: 992px) {
  .stakes-vip-tiers
    .vip-tiers-container
    .vip-tiers-list
    .vip-tiers-item:nth-child(2) {
    margin-top: 100px;
  }
}

@media (max-width: 991px) {
  .stakes-vip-tiers .vip-tiers-container {
    padding-top: 0;
  }
  .stakes-vip-tiers .vip-tiers-container {
    flex-direction: column;
  }
  .stakes-vip-tiers .vip-tiers-container .vip-tiers-list .vip-tiers-item {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  .stakes-vip-tiers .vip-tiers-container .vip-tiers-list .vip-tiers-item {
    flex-direction: column;
  }
  .stakes-vip-tiers .vip-tiers-container .vip-tiers-list .vip-tiers-item p {
    font-size: 1.25rem;
    padding-top: 10px;
    text-align: center;
  }
}

/* vip-key-benefits */
.vip-key-benefits {
  width: 80%;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vip-key-benefits .page-title {
  font-size: 3rem;
  font-weight: bold;
  color: #2c2e35;
  letter-spacing: 2px;
  text-align: center;
}
.vip-key-benefits .key-benefits-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  max-width: 1300px;
}
.vip-key-benefits .key-benefits-container .key-benefits-item {
  flex-basis: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.vip-key-benefits
  .key-benefits-container
  .key-benefits-item
  .key-benefits-image-title {
  display: flex;
  flex-direction: column;
}

.vip-key-benefits .key-benefits-container .key-benefits-item .benefits-title {
  font-weight: bold;
  color: #2c2e35;
  letter-spacing: 2px;
  font-size: 1rem;
  line-height: 1;
  padding: 15px 0;
}

.vip-key-benefits .key-benefits-container .key-benefits-item p {
  font-weight: 300;
}

/* Responsive design for vip-key-benefits */

@media (max-width: 991px) {
  .vip-key-benefits .key-benefits-container {
    flex-direction: column;
  }
  .vip-key-benefits .key-benefits-container .key-benefits-item {
    flex-direction: row;
    padding-top: 20px;
  }
  .vip-key-benefits .key-benefits-container .key-benefits-item p {
    padding-left: 30px;
  }
  .vip-key-benefits .key-benefits-container {
    padding-top: 30px;
  }
}

@media (max-width: 576px) {
  .vip-key-benefits .key-benefits-container .key-benefits-item {
    flex-direction: column;
  }
  .vip-key-benefits .key-benefits-container .key-benefits-item p {
    padding-left: 0;
  }
  .vip-key-benefits .key-benefits-container .key-benefits-item .benefits-title,
  .vip-key-benefits .key-benefits-container .key-benefits-item p {
    font-size: 1.25rem;
  }
}

/* vip-tier-comparison */

.vip-tier-comparison-background {
  background-color: #e6e7e9;
}

.vip-tier-comparison {
  width: 70%;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.vip-tier-comparison .page-title {
  font-size: 3rem;
  font-weight: bold;
  color: #2c2e35;
  letter-spacing: 2px;
  text-align: center;
}

.vip-tier-comparison .comparison-table-container {
  padding-top: 50px;
  max-width: 1200px;
}

.vip-tier-comparison .comparison-table-container .comparison-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-weight: 300;
}

/* Adjusting the width of the first column */
.vip-tier-comparison .comparison-table tr td:first-child,
.vip-tier-comparison .comparison-table tr th:first-child {
  width: 40%;
  text-align: left;
  padding: 5px;
}

/* Adjust the rest of the headers to split the remaining width equally */
.vip-tier-comparison .comparison-table tr th:not(:first-child) {
  width: 15%; /* 60% remaining width divided by 4 columns */
}

/* Styling for even rows */
.vip-tier-comparison .comparison-table tr:nth-child(even) {
  background-color: #bcbdc0; /* Set the background color for even rows */
}

/* Add padding to the bottom of the cells in the first row */
.vip-tier-comparison .comparison-table tr:first-child th,
.vip-tier-comparison .comparison-table tr:first-child td {
  padding-bottom: 10px; /* Adjust the value as needed */
}

.vip-tier-comparison .tier-comparison-cta {
  display: inline-block;
  padding: 1.5vh 50px;
  background-color: #f5615e;
  color: white !important;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
  text-decoration: none !important;
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.vip-tier-comparison .tier-comparison-cta:hover {
  color: #f5615e;
  animation: pulse 1s infinite;
}

/* Responsive design for vip-tier-comparison */
@media (max-width: 991px) {
  .vip-tier-comparison {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .vip-tier-comparison {
    width: 85%;
  }
  /* Adjusting the width of the first column */
  .vip-tier-comparison .comparison-table tr td:first-child,
  .vip-tier-comparison .comparison-table tr th:first-child {
    width: 35%;
  }

  /* Adjust the rest of the headers to split the remaining width equally */
  .vip-tier-comparison .comparison-table tr th:not(:first-child) {
    width: 16.25%; /* 60% remaining width divided by 4 columns */
  }
}

/* most-wanted-games */

.most-wanted-games {
  width: 50%;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.most-wanted-games .page-title {
  font-size: 3rem;
  font-weight: bold;
  color: #2c2e35;
  letter-spacing: 2px;
  text-align: center;
}

.most-wanted-games .games-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 columns */
  grid-gap: 20px; /* Spacing between grid items */
  margin-top: 20px;
}

.most-wanted-games .game {
  background-color: #f0f0f0; /* Optional, for better visibility */
  padding: 10px; /* Optional, for some spacing inside each grid item */
}

.most-wanted-games .game img {
  width: 100%;
  height: auto;
  display: block; /* To prevent inline default spacing */
}

@media (max-width: 1200px) {
  .most-wanted-games {
    width: 60%;
  }
}

@media (max-width: 991px) {
  .most-wanted-games {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .most-wanted-games .games-grid {
    grid-template-columns: repeat(3, 1fr); /* 5 columns */
  }
}
